# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/

# Node
node_modules/
dist/
build/
.next/

# IDE
.vscode/
.idea/
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
